@media screen and (max-width: 1400px){
    .cat-block{
        width: 171px;
    }
    #product-cat-block h5{
        font-size: 1.1rem;
    }
    .my-btn{
        font-size: 0.9rem;
    }
    .product-block{
        width: 260px;
        margin-bottom: 2vh;
    }
    #safety-blocks img{
        width: 40px;
        height: 40px;
    }
    #safety-blocks h4{
        font-size: 1rem;
    }
    .my-text-muted{
        font-size: 0.8rem;
    }
    .cat-image img, .product-block img {
        margin: 15px 0px;
        margin-left: 25%;
        width: 50%;
    }
    .block-long img {
        margin-left: 35%;
        width: 33%;
    }
    .discount-circle{
        top: -40px;
        width: 160px;
        height: 160px;
    }
    #about-us .p-3 p{
        font-size: 1.15rem;
    }
}
@media screen and (max-width: 1200px){
    .cat-block{
        width: 141px;
    }
    .product-block{
        width: 220px;
    }
    .my-btn{
        font-size: 0.8rem;
    }
    #product-cat-block h5, #safety-blocks h4, .product-block h5{
       font-size: 0.9rem;
    }
    .my-text-muted{
        font-size: 0.7rem;
    }
    .title-h1{
        font-size: 2.2rem;
    }
    .modal-block{
        width: 350px;
    }
    #modal-block-ts h5, #modal-product-information::before, #modal-block-bs h5, #modal-quantity{
        font-size: 1rem;
    }
    #modal-product-name{
        font-size: 1.2rem !important;
    }
    #modal-product-information::before{
        top: -20px;
    }
    #m-quant{
        width: 40px;
    }
    #discount-btn-1, #discount-btn-2, #nwsEmail-sub{
        font-size: 1rem;
    }
    .discount-circle{
        top: -40px;
        width: 140px;
        height: 140px;
    }
    .discount-text-block{
        width: 72%;
    }
    #about-us .p-3 p{
        font-size: 1.05rem;
    }
    #about-us-ms .about-us-ls{
        background-position: center right;
    }
    #about-us-bs .about-us-rs{
        background-size: 150%;
    }
}
@media screen and (max-width: 992px){
    #navbarSupportedContent ul li a, #navbarSupportedContent a{
        font-size: 0.95rem;
    }
    #product-cat-block #categories{
        flex-direction: column;
        align-items: center;
    }
    #product-cat-block-ts{
        margin-bottom: 2vh;
    }
    .cat-block, .block-long, .product-block{
        width: 161px;
    }
    #product-cat-block h5{
        font-size: 1.1rem;
    }
    .product-container{
        flex-wrap: wrap;
        margin-bottom: 0px;
    }
    .product-block .d-flex{
        flex-direction: column;
    }
    .product-block .d-flex .hide{
        display: inline-block !important;
    }
    .my-btn{
        font-size: 0.9rem;
    }
    #safety-block{
        display: none;
    }
    .title-h1{
        font-size: 2rem;
    }
    footer h4{
        font-size: 1.2rem;
    }
    footer p, footer li{
        font-size: 0.9rem;
    }
    .cat-block img{
        margin: 15px 0px;
        margin-left: 25%;
    }
    .cat-block .open-cat-btn, .block-long .open-cat-btn, .product-block .d-flex h5, .product-block .d-flex .open-product-btn{
        margin-left: 3%;
        margin-bottom: 3%;
        margin-right: 3%;
    }
    .block-long img {
        margin-left: 10%;
        width: 85%;
    }
    .modal-block{
        width: 330px;
    }
    #m-quant{
        width: 35px;
    }
    .close-btn{
        width: 42px;
        height: 42px;
    }
    #discount-btn-1, #discount-btn-2{
        font-size: 0.85rem;
    }
    .discount-text-block h2{
        font-size: 1.8rem;
    }
    .discount-text-block .my-text-muted, .carousel-caption h5{
        font-size: 1rem;
    }
    #newsletter-block{
        width: 100%;
    }
    .carousel-caption p{
        font-size: 0.8rem;
    }
    #about-us .p-3 p{
        font-size: 0.9rem;
    }
    #first-last-div{
        flex-direction: column;
    }
    .text-val-error{
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 765px) {
    .nav-logo{
        display: block;
    }
    .nav-item:nth-child(3){
        display: none;
    }
    .nav-item{
        margin-left: auto;
        margin-top: 20px;
    }
    #categories{
        align-items: unset !important;
    }
    #product-cat-block-ts, #product-cat-block-bs{
        flex-wrap: wrap;
    }
    #product-cat-block-ts .block-long{
        margin-top: 2vh;
    }
    #product-cat-block-ts .block-long, #product-cat-block-bs .block-long{
        width: 100%;
    }
    .block-long img {
        margin-left: 25%;
        width: 55%;
    }
    #product-cat-block-bs .block-long{
        margin-bottom: 2vh;
    }
    #product-cat-block-bs .d-flex .cat-block:first-child{
        margin-left: 0px;
    }
    .product-container{
        justify-content: space-around !important;
    }
    #modal{
        flex-direction: column;
        height: 80vh;
    }
    .modal-block{
        width: 400px;
    }
    #modal-image{
        height: inherit;
        margin-right: 0px;
        margin-bottom: 2vh;
        background-size: 60%;
    }
    #modal-block-ts h5, #modal-product-information::before, #modal-block-bs h5, #modal-quantity{
        font-size: 0.9rem;
    }
    #modal-product-name, #add-to-cart-btn{
        font-size: 1rem !important;
    }
    #modal-product-information::before{
        top: -13px;
    }
    .close-btn{
        top: -10px;
        right: -10px;
    }
    #copyright{
        flex-direction: column;
    }
    #copyright .separator{
        margin: 1vh 0px;
        width: 35%;
        height: 3px;
    }
    .discount-text-block h2{
        font-size: 1.3rem;
    }
    .discount-text-block .my-text-muted, .carousel-caption h5{
        font-size: 0.8rem;
    }
    .discount-circle{
        width: 120px;
        height: 120px;
    }
    #newsletter-block h3{
       font-size: 1.2rem;
    }
    .carousel-caption p{
        font-size: 0.6rem;
    }
    footer{
        bottom: -500px;
    }
    #contact-us-ls h3{
        font-size: 1.2rem;
    }
    #contact-us-ls p, #contact-us-rs form input, #contact-us-rs form textarea{
        font-size: 0.8rem;
    }
    #contact-us-rs form h2{
        font-size: 1.3rem;
    }
    #contact-us-rs form label{
        font-size: 1rem !important;
    }
    #about-us .p-3 p{
        font-size: 0.75rem;
    }
}
@media screen and (max-width: 576px){
    #product-cat-block-ts .d-flex, #product-cat-block-bs .d-flex{
        flex-direction: column;
    }
    #product-cat-block-ts .d-flex, #product-cat-block-bs .d-flex, .cat-block{
        width: 100%;
    }
    #product-cat-block-ts{
        margin-bottom: 0px;
    }
    .cat-block, .block-long{
        margin: 0px 0px 2vh 0px !important;
    }
    .cat-block img{
        margin-left: 35%;
        width: 30%;
    }
    .product-block{
        width: 220px;
    }
    .product-block .text-center{
        font-size: 1.1rem;
    }
    footer .container{
        flex-direction: column;;
    }
    #footer-ls, #footer-ms, #footer-rs{
        width: 100%;
        margin-bottom: 2vh;
        text-align: center;
    }
    #footer-rs{
        margin: 0px;
    }
    #footer-socials{
        justify-content: center;
    }
    .discount-text-block{
        width: 80%;
    }
    .discount-circle{
        left: 6%;
    }
    .carousel-caption{
        padding: 0.5rem 0px;
    }
    .carousel-indicators{
        margin-bottom: 0.2rem;
    }
    footer{
        bottom: -600px;
    }
    #contact-us{
        flex-direction: column;
    }
    #contact-us-rs, #contact-us-ls{
        width: 100%;
    }
    #contact-us-ls{
        padding: 50px;
        border-radius: 15px 15px 0px 0px;
    }
    #contact-us-rs{
        border-radius: 0px 0px 15px 15px;
    }
    #about-us-ts, #about-us-ms, #about-us-bs{
        flex-direction: column;
        margin: 0px;
    }
    #about-us-ts, #about-us-bs{
        flex-direction: column-reverse;
    }
    .about-us-ls, .about-us-rs{
        width: 100%;
        margin-bottom: 2vh;
    }
    #filter-modal{
        width: 75%;
    }
    #about-us .p-3{
        height: auto;
    }
    #about-us .p-3 p{
        font-size: 1.1rem;
    }

}
@media screen and (max-width: 500px) {
    #about-us .p-3 p{
        font-size: 1.05rem;
    }
}
@media screen and (max-width: 472px) {
    .product-block, .modal-block{
        width: 100%;
    }
    #modal{
        width: 95%;
    }
    .discount-text-block{
        width: 85%;
        padding-left: 30px;
    }
    .discount-circle{
        left: 6%;
        width: 100px;
        height: 100px;
    }
}
@media screen and (max-width: 460px) {
    #about-us .p-3 p{
        font-size: 1rem;
    }
}
@media screen and (max-width: 425px) {
    .product-block, .modal-block{
        width: 100%;
    }
    #modal{
        width: 95%;
    }
    .discount-text-block h2{
        font-size: 1.1rem;
    }
    .discount-text-block .my-text-muted{
        font-size: 0.75rem;
    }
    .discount-text-block{
        width: 85%;
        padding-left: 30px;
    }
    .discount-circle{
        left: 6%;
        width: 100px;
        height: 100px;
    }
    #newsletter-block h3{
        font-size: 1.1rem;
    }
}