@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100&display=swap');
:root{
    /* B/W */
    --white : #fff;
    --black : #000;

    --red-orange: #FE5856;
    --orange: #F39C12;
    --gray: #e9e9e9;
    --gray-out: #6c757d;
    --blue: #3f84de;
    --green: #32cf61;
    --green-darker: #24893e;
}
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    /* transition: 0.4s !important; */
}
svg{
    font-family: 'Poppins', sans-serif;
}
header{
    margin-bottom: 12vh;
}
body{
    position: relative;
    min-height: 600px;
    background-image: url('../img/SVG/bg-image.svg');
    background-size: 100%;
    background-repeat: repeat-y;
}
body::-webkit-scrollbar {
    width: 0.4vw;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
} 
body::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
    border-radius: 15px;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: var(--orange);
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    font-weight: bold;
}
p{
    margin-bottom: 0px !important;
}
button{
    outline: none !important;
}

/* Custom classes */
.shadow-on{
    box-shadow: 0 8px 32px 0 rgb(0 0 0 / 5%);
}
.border-15{
    border-radius: 15px;
}
.border-10{
    border-radius: 10px;
}
.border-gray{
    border: 3px solid var(--gray);
}
.more-shadow-on{
    box-shadow: 0 8px 32px 0 rgb(0 0 0 / 15%);
}
.pad-15-0{
    padding: 15px 0px;
}
.inset-shadow{
    transform: translateY(20px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.mb-5vh{
    margin-bottom: 5vh;
}
.mb-10vh{
    margin-bottom: 10vh;
}
.title-h1{
    font-size: 2.5rem;
    padding: 5px 0px;
}
.orange-hover:hover{
    transform: scale(1.015,1.015);
    box-shadow: 0 8px 32px 0 rgb(243 156 18 / 10%);
    border: 3px solid #F39C12;
}
.my-text-muted{
    font-size: 0.9rem;
}
.greyed-out, .my-text-muted{
    color: #6c757d;
}
.nav-link{
    border: 2px solid transparent;
}
.my-link-active{
    border: 2px solid var(--orange);
}
.text-justify{
    text-align: justify;
}
.hide{
    display: none !important;
}
.success{
    border: 3px solid var(--gray) !important;
    background-color: var(--green) !important;
}
.my-btn{
    padding: 3px 15px;
    background-color: var(--gray);
    border: 3px solid transparent;
}
.btn-hover:hover{
    transform: none;
    border: 3px solid var(--gray);
}


/* Custom classes END */


/* Header */
nav, nav .container #nav_link ul li{
    transition: 0.3s;
}
nav{
    padding: 25px 0px !important;
}
.nav-link, .nav-logo{
    padding: 0px 25px !important;
    font-size: 1.1rem;
}
.nav-logo{
    display: none;
}
.nav-link:hover, .nav-logo:hover{
    font-weight: 400;
    border: 2px solid var(--orange);
}
.nav-item{
    margin: 0px 10px;
}
.navbar-toggler{
    margin-left: auto;
}
.navbar-nav li a{
    color: var(--black);
}
.navbar-nav li a img, .nav-logo img{
    transition: 0.8s;
    width: 30px;
}
/* Header END */


/* Main */
/* Carousel */
.carousel-link-btn{
    position: absolute;
    right: 300px;
    bottom: 220px;
    font-size: 1.5rem;
    background-color: var(--green-darker) !important;
}

/* Categories */
.cat-block, .block-long, .product-block{
    position: relative;
    width: 200px;
}
#product-cat-block-ts .cat-block{
    margin-right: 2vh;
}
#product-cat-block-ts{
    margin-bottom: 2vh;
}
#product-cat-block-bs .cat-block{
    margin-left: 2vh;
}
#modal-image{
    background-size: 90%;
}
.separator{
    width: 3px;
    height: 50px;
    border-radius: 3px;
    background-color: var(--gray);
}

/* Safety */
#safety-blocks img{
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
#safety-blocks h4{
    font-size: 1.3rem;
}

/* Discounts */
#discount-block-1, #discount-block-2{
    height: 40vh;
}
#discount-block-1{
    margin-top: 10vh;
    background-color: var(--green);
}
#discount-block-1 .discount-circle{
    background-image: url('../img/SVG/tablets-category.svg');
}
#discount-block-2{
    background-color: var(--blue);
}
#discount-block-2 .discount-circle{
    background-image: url('../img/SVG/television-category.svg');
}
.discount-circle{
    position: absolute;
    top: -50px;
    left: 8%;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: 3px solid var(--gray);
    transition: 0.4s;
    background-size: 75%;
}
.discount-text-block{
    overflow: hidden;
    margin-left: auto;
    height: 100%;
    width: 70%;
    border-radius: 0px 12px 12px 0px;
}
.discount-text-block h2{
    margin-top: 2vh;
}
.discount-text-block::before{
    content: "";
    display: block;
    position: absolute;
    top: -60%;
    left: 0px;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    border: 3px solid var(--gray);
    transition: 0.4s;
}
#discount-btn-1, #discount-btn-2{
    margin: 4vh auto;
}
#discount-btn-1{
    background-color: var(--green);
}
#discount-btn-2{
    background-color: var(--blue);
}
#discount-block-1:hover > .discount-circle, #discount-block-1:hover > .discount-text-block::before, #discount-block-2:hover > .discount-circle, #discount-block-2:hover > .discount-text-block::before{
    border-color: var(--orange);
}

/* Products */
.product-container{
    margin: 0px auto;
}
.product-block{
    width: 280px;
    margin-bottom: 5vh;
}
.product-block img, .cat-image img{
    margin: 10px 0px;
    margin-left: 13%;
    width: 75%;
}
.block-long img{
    margin-left: 25%;
    width: 50%;
}
.product-block h5:first-child, .cat-block h5, .block-long h5{
    padding: 3px 0px;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--gray);
}
.product-block .d-flex h5{
    margin-left: 3%;
    padding: 3px 15px;
    border-radius: 10px;
}
.product-block .d-flex h5, .open-product-btn, .open-cat-btn{
    margin-bottom: 3%;
}
.open-cat-btn{
    margin-left: auto;
    margin-right: 3%;
}
.block-long .open-cat-btn{
    margin-right: 1%;
    margin-bottom: 1%;
}
.open-cat-btn{
    bottom: 10px;
    right: 10px;
}
.open-product-btn{
    margin-right: 3%;
}

/* Newsletter block */
#contact-block{
    width: 80%;
    margin: 0px auto 10vh;
    transform: scale(1.015,1.015);
    box-shadow: 0 8px 32px 0 rgb(243 156 18 / 10%);
    border: 3px solid #F39C12;
}
#contact-block h2{
    width: 80%;
    margin: 0px auto;
    border-radius: 0px 0px 10px 10px;
    background: var(--orange);
}
#contact-block h3{
    margin-top: 2vh;
    font-size: 1.5rem;
}
#nwsEmail-block, #nwsEmail-sub{
    margin: 2vh auto;
}
#nwsEmail-block input[type="email"]{
    text-align: center;
    padding: 2px 5px;
    border: 2.5px solid var(--gray);
    border-radius: 10px;
    outline-color: var(--orange);
}
#nwsEmail-sub{
    margin-top: 0px;
    width: 150px;
}

/* Modal */
#modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1032;
}
.modal-block{
    width: 400px;
    border-radius: 15px;
}
.modal-block h5{
    font-size: 1.15rem;
}
.modal-block:first-child{
    border: 3px solid var(--gray);
}
#modal-image{
    margin-right: 2vh;
}

/* Modal - Top */
#modal-block-ts{
    padding: 10px;
    border-radius: 10px;
    background-color: var(--gray);
}
#color-picker-block{
    margin-bottom: 2vh;
}
#modal-product-name{
    border-radius: 5px;
    text-align: center;
    margin-bottom: 4vh;
}
#modal-product-information{
    width: 95%;
    padding: 10px;
    margin: 0px auto 2vw;
    position: relative;
    border: 2px solid var(--orange);
    border-radius: 5px;
}
#modal-product-information::before{
    content: "Description";
    display: block;
    position: absolute;
    top: -25px;
    left: -10px;
    padding: 0px 10px;
    border-radius: 5px;
}

#modal-product-name, #modal-product-information::before{
    font-size: 1.3rem;
}
.color-picker-blocks{
    margin-left: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2.5px solid #f0efef;
    box-shadow: 0 2px 7px 0 rgb(0 0 0 / 10%);
    cursor: pointer;
}
.color-picker-blocks:hover{
    transform: scale(1.2, 1.2);
}
#color-black{
    background-color: var(--black);
}
#color-blue{
    background-color: var(--blue);
}
#color-green{
    background-color: var(--green);
}

/* Modal - Bottom */
#modal-price, #modal-quantity, .modal-btn{
    padding: 3px;
    font-size: 1.1rem;
    border-radius: 10px;
    background-color: var(--gray);
    border: 3px solid transparent;
}
#modal-price{
    width: 58%;
}
#modal-quantity{
    width: 39%;
}
.product-price{
    padding: 0px 5px;
}
.product-price, #m-quant{
    font-weight: bold;
    border-radius: 5px;
}
#m-quant{
    margin-left: 10px;
    width: 54px;
    border: none;
    text-align: center;
}
#modal-quantity #m-quant:focus{
    outline: none;
}
#add-to-cart-btn:hover{
    border: 3px solid var(--gray);
}
.close-btn{
    width: 45px;
    height: 45px;
    top: -15px;
    right: -15px;
    border-radius: 50%;
    border: none;
    background-color: var(--gray);
}
.close-cross{
    background-color: #c1c1c1;
    width: 3px;
    height: 20px;
    border-radius: 3px;
    transform: rotate(-45deg);
}
.close-cross:last-child{
    transform: rotate(45deg);
    margin-left: -3px;
}
.close-btn:hover{
    background-color: var(--red-orange);
    transform: scale(1.1, 1.1);
}

/* Modal - Filter */
#filter-product{
    padding: 5px;
    margin-bottom: 2vh;
    background-color: var(--orange);
}
#filter-btn, #sort-btn{
    padding: 3px 30px;
}
#filter-btn, #selSort, #filter-product{
    border-radius: 30px;
    outline: none;
}
#filter-sort-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1032;
    border: 3px solid var(--gray);
    border-color: var(--orange);
}
#filter-sort-modal .close-btn{
    top: -25px;
    right: -25px;
}
#filter-sort-head h3{
    padding: 5px 25px;
    border-radius: 10px 10px 0px 0px;
}
#category-picker div{
    padding: 10px;
    margin: 0px 15px;
    border-bottom: 3px solid var(--gray);
}
#category-picker div:last-child{
    border: none;
}
#category-picker input{
    accent-color: var(--orange);
}

/* Modal - Overlay */
#overlay{
    position: fixed;
    opacity: 0;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    z-index: 1031;
}
.overlay-active{
    opacity: 1 !important;
    pointer-events: all !important;
}
/* Main END */


/* Footer */
footer{
    bottom: -300px;
}
#footer-ls, #footer-ms, #footer-rs{
    width: 22%;
}
#footer-rs ul li a:hover{
    color: var(--orange) !important;
    font-weight: normal;
}

/* Copyright */
#copyright h5, #copyright a{
    margin: 0px 15px 0px 15px;
}
#copyright .separator{
    height: 35px;
}
/* Footer END */

.cat-image, .cat-image .text-center, .product-block, .product-block .text-center, .discount-block, #contact-block, #contact-block h2, .color-picker-blocks, #add-to-cart-btn, .close-btn, #overlay, .my-btn, ul li a, footer #copyright a{
    transition: 0.4s !important;
}
.discount-text-block .my-text-muted, .discount-block .my-btn, #nwsEmail-block input[type="email"], #nwsEmail-sub, #add-to-cart-btn, #copyright h5, #copyright a{
    font-size: 1.2rem;
}
.block-long, #add-to-cart-btn, #modal-block-bs, footer{
    width: 100%;
}
.my-link-active, .nav-link:hover, .nav-logo:hover{
    color: var(--orange);
}
.btn-hover:hover, #carousel-block-title, #contact-block:hover h2, #modal-product-information::before, #copyright, #copyright h5, #copyright a, #add-to-cart-btn, #modal-product-name, .product-block:hover > .text-center, .cat-image:hover > .text-center, #contact-block h2, .carousel-link-btn, #discount-btn-1, #discount-btn-2, #filter-sort-head h3{
    color: var(--white);
}
.btn-hover:hover, #carousel-block-title, .product-block:hover > .text-center, .cat-image:hover > .text-center, #modal-product-name, #modal-product-information::before, #color-orange, #add-to-cart-btn, #copyright, #filter-sort-head h3{
    background-color: var(--orange);
}
.cat-block, .block-long, .product-block, .discount-circle, .discount-text-block::before, #modal, #modal-product-information, #color-white, .product-price, #m-quant, .close-btn:hover > .close-cross, #filter-sort-modal, footer, #product-cat-block h1, #safety-block, #new-products-block h1, #best-seller-block h1, #contact-block{
    background-color: var(--white);
}
.product-block, #modal-image, .discount-circle{
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: 70%; */
}